SSJ19
VisualStudio

.DS_Store
.*.swp
.*.swo
tt
*.aux
*.log
*.toc
*.out
*.csv
*sync*
*.bbl
*.blg
*.brf
*.sf
*.bf
*.s3d
*.s3d.sz
*.q
*.bf
*.csv
*.png
*.txt
*.out
*.end
*.smv
*.sq
*.sinfo
*.binfo
ss
tt
rr
do_*
.scarc???

Documents
Build
Source/cgbaro.f90
Source/scrc0.f90
Source/scrc1.f90
Source/scrc2.f90
Source/scrc3.f90
Utilities/Python/res.py
Verification/Scarc/dump/*
Source/ilu.f90
Verification/Scarc/matlab/*
Verification/Scarc/ssor
